:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-size: calc(1.5vmin + 5px);
  margin: auto;
  margin-top: 4vh;
  max-width: 90%;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav .header-logo img {
  max-width: 30vw;
  height: auto;
}
.topnav .menuList {
  width: 42vw;
  display: flex;
  justify-content: space-between;
}
.topnav .menuList .active, .topnav .menuList a:hover {
  color: #ffffff;
  background: #FE142F;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}
.topnav .menuList a {
  text-decoration: none;
  color: rgb(35, 35, 35);
  padding: 10px;
  border-radius: 8px;
  font-size: 0.9em;
  font-weight: bold;
}
#hamburgerI {
  display: none;
  color: red;
}

main {
  margin: 6vh auto 4vh auto;
  position: relative;
}

.hero-section {
  display: flex;
  background: #232323;
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4vh 3vw 6vh 4vw;
  width: 40%;
}
.hero-content h1 {
  font-size: 6.5em;
  white-space: nowrap;
  z-index: 2;
}
.hero-content p {
  font-size: 1.5em;
}
.hero-content button {
  width: 50%;
  padding: 1.5vh 1.5vw;
  font-size: 1.5em;
  text-transform: capitalize;
  border-radius: 8px;
  background: #FE142F;
  border: none;
  color: rgb(255, 255, 255);
}
.hero-content button:hover {
  background: #279E7A;
  cursor: pointer;
}

.hero-img {
  background-image: url("../images/bg_img.jpg");
  width: 60vw;
  height: 77vh;
  background-size: cover;
  background-position: center;
  border-radius: 0 8px 8px 0;
}

footer {
  color: #FE142F;
  font-weight: 600;
  font-size: 0.8em;
  transform: translateX(-3vw);
}

.bground,
.bg2 {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 7% auto;
  width: 520px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: var(--modal-duration);
          animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  margin: 11px 0 11px 0;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 30px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.text-label {
  font-weight: normal;
  font-size: 14px;
  padding: 8px;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit {
  background: #FE142F;
  border: none;
  color: white;
  margin: auto;
  display: flex;
  font-size: 18px;
  padding: 1vh 3vw;
  text-align: center;
  margin-top: 2vh;
  border-radius: 8px;
}
.btn-submit:hover {
  background: #279E7A;
  cursor: pointer;
}

#confirm-modal {
  max-width: 520px;
  height: 70vh;
  border-radius: 10px;
  position: relative;
}

.thanks-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  width: 100%;
  height: 70vh;
}

.close-btn {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FE142F;
  border: none;
  color: white;
  font-size: 18px;
  padding: 1vh 3vw;
  text-align: center;
  border-radius: 8px;
}
.close-btn:hover {
  background: #279E7A;
  cursor: pointer;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
.errorClass {
  font-size: 12px;
  color: #e54858;
  display: block;
  margin-top: 5px;
  margin-bottom: 7px;
  transition: 0.3s;
}

@media screen and (max-width: 992px) {
  .main-navbar {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }
  .menuList a {
    display: none;
  }
  #hamburgerI {
    font-size: 2em;
    display: block;
  }
  .hero-content {
    width: 40%;
  }
  .hero-content h1 {
    font-size: 4em;
  }
  .hero-content p {
    font-size: 1.2em;
  }
  .hero-content button {
    width: 80%;
  }
  .hero-img {
    max-height: 700px;
    background-size: cover;
  }
  #confirm-modal {
    height: 85vh;
  }
  .thanks-text {
    height: 85vh;
  }
  footer {
    margin-top: 7vh;
  }
}
@media screen and (max-width: 768px) {
  .topnav {
    align-items: flex-start;
    padding: 1em;
  }
  .main-navbar {
    flex-direction: column-reverse;
    width: 100%;
  }
  .menuList {
    margin-top: 3vh;
    flex-direction: column;
    width: 100%;
    transform: translateX(-7vw);
  }
  .menuList #responsive1 {
    width: 50vw;
    transform: translateX(-20%);
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    font-weight: normal;
  }
  .menuList #responsive2 {
    width: 50vw;
    transform: translateX(-20%);
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    font-weight: normal;
  }
  .menuList #responsive3 {
    width: 50vw;
    transform: translateX(-20%);
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    font-weight: normal;
  }
  .menuList #responsive4 {
    width: 50vw;
    transform: translateX(-20%);
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    font-weight: normal;
  }
  #hamburgerI {
    width: 100%;
    text-align: end;
    font-size: 2.8em;
  }
  .hero-section {
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 100%;
    background: white;
    margin-top: 0;
  }
  .hero-content {
    width: 100%;
    align-items: center;
    padding: 1em;
    padding-bottom: 0;
  }
  .hero-content h1 {
    margin-bottom: 2vh;
    width: 100%;
  }
  .hero-content p {
    width: 100%;
  }
  .hero-content button {
    transform: translateY(90vh);
    width: 50%;
  }
  .hero-img {
    width: 100%;
    background-size: cover;
    border-radius: 8px;
  }
  .bground,
.bg2 {
    background: none;
  }
  .content {
    margin: 0px;
    margin-top: 15vh;
    height: auto;
    width: 100vw;
    border-radius: 8px 8px 0px 0px;
  }
  #validation {
    padding: 1vh 10vw;
  }
  #confirm-modal {
    border-radius: 8px 8px 0px 0px;
    max-width: 768px;
    height: 85vh;
  }
  .thanks-text {
    font-size: 3em;
  }
  .close-btn {
    width: 35%;
  }
  footer {
    transform: none;
    display: flex;
    justify-content: center;
    transform: translate(0px, 12vh);
    font-size: 1em;
    padding-bottom: 3vh;
  }
}
@media screen and (max-width: 540px) {
  main {
    margin: 0 auto;
  }
  .hero-content {
    font-size: 90%;
  }
  .hero-content p {
    font-size: 120%;
  }
  .hero-content button {
    position: absolute;
    bottom: 80vh;
  }
  .hero-img {
    height: 330px;
    background-size: cover;
    margin-top: 3vh;
  }
  footer {
    transform: translate(0px, 8vh);
  }
}
@media screen and (max-width: 360px) {
  .hero-content h1 {
    font-size: 3.7em;
  }
}/*# sourceMappingURL=style.css.map */