:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Landing Page */

body {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-size: calc(1.5vmin + 5px);
  margin: auto;
  margin-top: 5vh;
  max-width: 95%;
}

.topnav {
  background: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav i {
  display: none;
}
