@media screen and (max-width: 540px) {
    
    main {
        margin: 0 auto;
    }
    
   
    .hero-content {
        font-size: 90%;

        p {
            font-size: 120%;
        }

        button  {
            // transform: translateY(55vh);
            position: absolute;
            bottom: 80vh;
        }
    } 
.hero-img {
    height: 330px;
    background-size: cover;
    margin-top: 3vh;
   
}

footer {
transform: translate(0px, 8vh) 
}
}