@media screen and (max-width: 540px) {
    
    //supprime margins verticales
    main {
        margin: 0 auto;
    }
    
   
    .hero-content {
        font-size: 90%;

        p {
            font-size: 120%;
        }

        // on redécale le bouton un peu vers le haut par rapport au responsive mobile 768px afin qu'il ne chevauche pas le footer
        button  {
            // transform: translateY(55vh);
            position: absolute;
            bottom: 80vh;
        }
    } 

    //on diminue la taille de l'image de la banner
.hero-img {
    height: 330px;
    background-size: cover;
    margin-top: 3vh;
   
}

footer {
transform: translate(0px, 8vh) 
}
}

//diminue la taille du titre pour les mobiles les plus petits
@media screen and (max-width: 360px) {
    .hero-content h1 {
        font-size: 3.7em;
    }
}