@media screen and (max-width: 992px) {


    .main-navbar {
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
    }

    .menuList {


        a {
            display: none;
        }
    }

    #hamburgerI {
        font-size: 2em;
        display: block;
    }

    .hero-content {
        width: 40%;
        h1 {
            font-size: 4em;
        }
        p {
font-size: 1.2em;
        }
        button {
            width: 80%;
        }
    }

    .hero-img {
        max-height: 700px;
        background-size: cover;
    }

    #confirm-modal {
        
        height: 85vh;
    }
    .thanks-text {
        height: 85vh;
    }

    footer {
        margin-top: 7vh;
    }

}