@media screen and (max-width: 992px) {


    .main-navbar {
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
    }

    .menuList {


        a {
            display: none;
        }
    }

    #hamburgerI {
        font-size: 2em;
        display: block;
    }

    .hero-img {
        // width: 40vw;
        // height: 66vh;
    }


}